.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.App-header {
  background-color: #adc8ff;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.App-content {
  display: block;
  width: 100%
}

.App-footer {
  height: 5vmin;
}

.train-position {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.route {
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: 3px 3px #333;
  margin: 10px;
  padding: 10px;
  max-width: 30vh;
  min-height: 20vh;
}

.line-color {
  display: inline-block;
  border-radius: 10px;
  width: 12px;
  height: 12px;
}

.red { background-color: red;}
.blue { background-color: blue;}
.yellow { background-color: yellow;}
.orange { background-color: orange;}
.green { background-color: green;}
.grey { background-color: grey;}

.line-code-selector, .service-type-selector, .car-count-selector {
  display: inline-block;
  margin: 2vh;
}
